.button-container{
    display: flex;
}
.button-container button{
    background-color: #194DFF;
    width: 350px;
    height: 60px;
    border-radius: 6px;
    border: 0px;
    color:  #FFFFFF;
    
}